@charset 'UFT-8';
@use '../../foundation/mixin';
@use '../../foundation/variable';

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 600;
    transition: .5s linear;
}

.overlay {
    opacity: 0;
    visibility: hidden;
}

.is-over {
    opacity: 1;
    visibility: visible;
}
