@charset 'UFT-8';
@use '../../foundation/mixin';
@use '../../foundation/variable';

.p-sidebar__menu {
    //position: absolute;
    //top: 200px;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding-top: 130px;
    @include mixin.pc {
        padding-top: 0;
    }
    li {
        cursor: pointer;
        display: block;
        line-height: 2.4;
        font-size: 2.4rem;
        font-weight: 700;
        a {
            color: variable.$headline-color;
            text-decoration: none;
        }
    }
    .sub-menu {
        margin-left: 20px;
        li {
            font-weight: 400;
            font-size: 2rem;
            &:last-child {
                margin-bottom: 43px;
            }
        }
    }
}