@charset 'UFT-8';
@use '../../foundation/mixin';
@use '../../foundation/variable';

.wp-pagenavi {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.6rem;
    width: 89%;
    margin: 60px auto 30px auto;
    @include mixin.tab {
        justify-content: center;
        align-items: center;
    }
    .pages {
        display: inline-block;
        color: variable.$headline-color;
        font-family: variable.$headline-font;
        font-weight: 700;
        width: auto;
        border: none;//これ統合できないか
        &:nth-child(2){
            &::after {
                content: " /";
            }
        }
    }
    span,a {
        color: variable.$headline-color;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        width: 35px;
        padding: 5px 0;
        margin-left: 15px;
        border: 1px solid;
    }
    .current {
        background-color: variable.$addition-color;
        color: #fff;
    }
    .previouspostslink, .nextpostslink {
        border: none;
    }
    .previouspostslink {
        margin-left: 0;
    }
}