@charset 'UFT-8';
@use '../../foundation/mixin';
@use '../../foundation/variable';

.p-shop {
    color: #fff;
    &__link {
        margin-bottom: 34px;
        &__nav {
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                &:first-child {
                    &::after {
                    content: "";
                    display: inline-block;
                    background-color: #fff;
                    width: 2px;
                    height: 19px;
                    position: relative;
                    top: 4px;
                    margin: 0 15px;
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 2rem;
                    padding-right: 0 15px;
                    color: #fff;
                }
            }
        }
    }
    p {
        font-size: 1.4rem;
    }
}